body {
  background-color: black;
  overflow: hidden;
  margin: 0;
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(500px);
}

h1 {
  font-size: xx-large;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

header {
  width: 560px;
  height: 120px;
  background-color: #02a20d;
  border-radius: 20px 20px 0 0;
  box-shadow: 20px 19px 3px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

header div {
  display: flex;
  align-items: center;
}

#box {
  width: 560px;
  height: 420px;
  background-color: #d5ffcf;
  border-radius: 0 0 20px 20px;
  box-shadow: 20px 20px 3px 1px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}

select {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: x-large;
}

#mouse {
  width: 700px;
  height: 700px;
  border-radius: 100%;
  background-color: rgb(0, 179, 255);
  position: relative;
  z-index: -1;
}

.Result {
  width: 300px;
  height: 200px;
  position: absolute;
  background-color: white;
  border-radius: 50px;
  bottom: 110px;
  font-size: xxx-large;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  opacity: 0.8;
}

div button {
  background-color: blue;
  color: white;
  border-radius: 20px;
  width: 270px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.hidden {
  /* opacity: 0; */
  display: none;
  width: 0px;
  height: 0px;
}
